In [1]:
import pandas   as pd

In [25]:
df = pd.read_csv('../bitcoin.csv', index_col=False)
print(len(df))
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
df = df[['rank', 'exchangeId', 'exchangeName', 'exchangeSlug', 'volumePercent', 'volumeQuote', 'isVerified', 'marketUrl', 'effectiveLiquidity', 'lastUpdated', 'marketPair', 'price']]
# df = df[(df['isVerified'] == 1) & (df['volumePercent'] > 0.01) & (df['rank'] < 1000)]
df
# print(df['volumePercent'].sum())
# pd.set_option('display.max_columns', None)
# def filter_by_volume(group):
#     max_volume = group['volumeUsd'].max()  # Находим максимальный объем торгов в группе
#     return group[group['volumeUsd'] >= 0.01 * max_volume]  # Возвращаем только строки, где объем торгов больше или равен 1% от максимального объема торгов в группе

# df = df.groupby('marketPair').apply(filter_by_volume)
# df = df.reset_index(drop=True)
# df['max-price', 'min-price'] = df.groupby('marketPair').agg(max_price=('price', 'max'), min_price=('price', 'min'))
# df
# Группируем по 'marketPair' и находим минимальное и максимальное значение цены для каждой категории
# grouped = df.groupby('marketPair')

# # Находим индексы минимальной и максимальной цены для каждой группы
# min_indices = grouped['price'].idxmin()
# max_indices = grouped['price'].idxmax()

# # Извлекаем названия бирж с минимальной и максимальной ценами
# min_exchange_names = df.loc[min_indices, 'exchangeName'].values
# max_exchange_names = df.loc[max_indices, 'exchangeName'].values

# Создаем новый DataFrame с результатами
result_df = pd.DataFrame({
    'marketPair': grouped['marketPair'].first(),
    'minPrice': df.loc[min_indices, 'price'].values,
    'minExchangeName': min_exchange_names,
    'maxPrice': df.loc[max_indices, 'price'].values,
    'maxExchangeName': max_exchange_names
})

# Выводим результат
result_df

4500

,marketPair,minPrice,minExchangeName,maxPrice,maxExchangeName
marketPair,,,,,
BTC/FDUSD,BTC/FDUSD,51453.582756,Binance,51453.582756,Binance
BTC/USD,BTC/USD,51456.300000,P2B,51474.110000,Coinbase Exchange
BTC/USDC,BTC/USDC,51454.714172,Bybit,51454.714172,Bybit
BTC/USDT,BTC/USDT,51447.434785,LATOKEN,51516.143626,BitMart

In [33]:
# Агрегируем данные для максимальной и минимальной цен
aggregated_df = df.groupby('marketPair').agg(max_price=('price', 'max'), min_price=('price', 'min'))

# Создаем новый DataFrame для хранения информации о бирже для самой высокой и самой низкой цены
exchange_info_df = df.loc[df.groupby('marketPair')['price'].idxmax(), ['marketPair', 'exchangeName']].rename(columns={'exchangeName': 'max_price_exchange'})
exchange_info_df['min_price_exchange'] = df.loc[df.groupby('marketPair')['price'].idxmin(), 'exchangeName']

# Объединяем агрегированные данные с исходным DataFrame
df = pd.merge(df, aggregated_df, on='marketPair')

# Объединяем информацию о бирже с DataFrame
df = pd.merge(df, exchange_info_df, on='marketPair')

In [24]:
df = df[]

,Unnamed: 0,rank,exchangeId,exchangeName,exchangeSlug,exchangeNotice,outlierDetected,priceExcluded,volumeExcluded,marketId,...,volumePercent,indexPrice,isVerified,quotes,type,centerType,platformId,platformName,liquidity,derivativeTickerId
0,1,2,270,Binance,binance,NaN,0.0,0.0,0.0,9933,...,7.680152,0,1,"[{'id': '2781', 'price': 51459.51282311, 'volu...",cex,cex,NaN,NaN,NaN,NaN
1,2,3,294,OKX,okx,NaN,0.0,0.0,0.0,13258,...,2.560399,0,1,"[{'id': '2781', 'price': 51466.04176279, 'volu...",cex,cex,NaN,NaN,NaN,NaN
2,3,4,521,Bybit,bybit,NaN,0.0,0.0,0.0,146051,...,2.456321,0,1,"[{'id': '2781', 'price': 51472.04078853, 'volu...",cex,cex,NaN,NaN,NaN,NaN
3,4,5,89,Coinbase Exchange,coinbase-exchange,NaN,0.0,0.0,0.0,2744,...,2.302601,0,1,"[{'id': '2781', 'price': 51474.11, 'volume24h'...",cex,cex,NaN,NaN,NaN,NaN
4,7,8,270,Binance,binance,NaN,0.0,0.0,0.0,30688,...,0.157900,0,1,"[{'id': '2781', 'price': 51463.41031056, 'volu...",cex,cex,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,4430,4431,1037,Flybit,flybit,NaN,1.0,0.0,0.0,83249,...,0.000000,0,1,"[{'id': '2781', 'price': 13997.51676193, 'volu...",cex,cex,NaN,NaN,NaN,NaN
285,4462,4463,378,Unocoin,unocoin,NaN,1.0,1.0,1.0,299573,...,0.000000,0,1,"[{'id': '2781', 'price': 66869.14025409, 'volu...",cex,cex,NaN,NaN,NaN,NaN
286,4471,4472,1012,Felixo,felixo,NaN,1.0,1.0,1.0,66757,...,0.000000,0,1,"[{'id': '2781', 'price': 36737.03379719, 'volu...",cex,cex,NaN,NaN,NaN,NaN
287,4472,4473,1675,WOOFi,woofi,NaN,1.0,1.0,1.0,983351,...,0.000000,0,1,"[{'id': '2781', 'price': 29920.81963766, 'volu...",cex,dex,NaN,NaN,NaN,NaN
288,4476,4477,3631,DIFX,difx,NaN,NaN,NaN,NaN,-3631,...,0.000000,0,0,"[{'id': '2781', 'price': 51406.134230199736, '...",cex,cex,NaN,NaN,NaN,1_825_SPOT